<div class="login-container">
  <div class="login-wrapper">
      <form (ngSubmit)="login()" class="login-form">
          <h1>Login</h1>
          <div class="input-box">
              <input [(ngModel)]="username" id="username" type="text" placeholder="Username" name="username" class="form-control" required>
          </div>
          <div class="input-box">
              <input [(ngModel)]="password" id="password" type="password" placeholder="Password" name="password" class="form-control" required>
          </div>

          <div class="remember-forgot">
              <label><input type="checkbox">Recuérdame</label>
              <a href="#">Problemas con la contraseña</a>
          </div>
          <button type="submit" class="btn">Login</button>

          <div class="register-link">
              <p>¿No tienes una cuenta? <a href="#">Regístrate aquí.</a></p>
          </div>
      </form>
  </div>
</div>
