<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Resumen</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="project-box">
                                    <p>Proyectos</p>
                                    <h2>27</h2>
                                    <button class="btn btn-primary" (click)="redirectToRegistrarProyecto()">+ Crear</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Activos</p>
                                    <h2>10</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Completados</p>
                                    <h2>10</h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="status-box">
                                    <p>Pendientes</p>
                                    <h2>7</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Proyectos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="project-list">
                                    <p>Proyecto 1</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="project-list">
                                    <p>Proyecto 2</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="project-list">
                                    <p>Proyecto 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
